.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

body{
    background-color: lightgray;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lightyellow;
}